* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #7e8ab8;
  border-radius: 30px;
  margin-left: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Styles */

.goldText {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  text-align: start;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #e29f72;
}

/* First Page! */

.pageOne {
  width: 100vw;
  padding: 16px 32px 126px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./images/background.png);
  background-size: cover;
}

.nav {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
}

.logo > a {
  color: #3a1700;
  text-decoration: none;
}

.nav_menu {
  flex: 1;
}

.nav_menu > ul {
  display: flex;
  width: 35%;
  justify-content: space-between;
  margin-left: 58px;
}

ul > li {
  font-family: "Manrope";
  list-style: none;
}

ul > li > a {
  color: #3a1700;
  text-decoration: none;
}

.contact {
  width: 140px;
  height: 50px;
  border: 1px solid rgba(126, 138, 184, 0.304942);
  background-color: transparent;
  border-radius: 24px;
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #7e8ab8;
  margin-left: 20px;
  transition: 0.5s;
  cursor: pointer;
}

.contact:hover {
  background-color: #7e8ab8;
  color: #ffffff;
}

.first_container {
  width: 94%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content {
  width: 29%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content > h1 {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -3px;
  color: #3a1700;
}

.content > p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(58, 23, 0, 0.5);
}

.donation {
  width: 200px;
  height: 48px;
  background: #7e8ab8;
  border-radius: 24px;
  border: none;
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s;
}

/* Second Page! */

.pageTwo {
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageTwo > img {
  position: absolute;
  left: 360px;
  top: 1200px;
}

.second_content {
  width: 70%;
  /* height: 90%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.second_contentText {
  width: 65%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.second_contentText > .goldText {
  text-align: center;
}

.second_contentText > h1 {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -1px;
  color: #3a1700;
}

.gridContainers {
  margin-top: 66px;
  width: 100%;
  /* height: 80%; */
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 55% 55%;
  grid-gap: 30px;
  justify-content: center;
  z-index: 1;
}

.gridContainers > div {
  background-color: #f3f2e7;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  padding-top: 36px;
  padding-bottom: 36px;
}

.gridContainers > div:hover {
  transform: translateY(-10px);
  box-shadow: 5px 10px 10px rgba(58, 23, 0, 0.5);
}

.grid_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 70%;
}

.upper_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.main_content {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
}

.main_content > img {
  padding-bottom: 35px;
  border-bottom: 3px solid black;
}

.main_content > h2 {
  font-family: "Rowdies";
  padding-bottom: 35px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #3a1700;
}

.line {
  width: 100%;
  height: 1px;
  background: #deddcd;
}

.grid_content > p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: rgba(58, 23, 0, 0.5);
}

/* Third Page! */

.pageThree {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thirdPageContainer {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 110px;
}

.thirdPageContainer > .explore {
  margin-top: 64px;
}

.thirdPageUpper {
  height: 20%;
  display: flex;
  flex-direction: column;
  margin-top: 130px;
  gap: 18px;
}
.thirdPageUpper > .goldText {
  text-align: center;
}

.thirdPageUpper > h1 {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -2px;
  color: #3a1700;
}

.thirdPageItems {
  margin-top: 40px;
  display: flex;
  width: 85%;
  height: 100%;
  justify-content: space-between;
}

.thirdPageItems > .firstItem,
.secondItem,
.thirdItem {
  width: 31.5%;
  height: 560px;
  background: #f3f2e7;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
}

.firstItem:hover,
.secondItem:hover,
.thirdItem:hover {
  transform: translateY(-10px);
  box-shadow: 5px 10px 10px rgba(58, 23, 0, 0.5);
}

.lowerItemContent {
  margin-top: 24px;
  width: 85%;
  height: 40%;
}

.lowerItemContent > h2 {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #3a1700;
}

.photoDiv {
  width: 100%;
  height: 44%;
  border-radius: 12px 12px 0 0;
  padding: 27px 20px;
}

.firstItem > .photoDiv {
  background: url(./images/water.jpg) center;
  background-size: cover;
}
.secondItem > .photoDiv {
  background: url(./images/food.jpg) center;
  background-size: cover;
}
.thirdItem > .photoDiv {
  background: url(./images/charityItem.jpg) center;
  background-size: cover;
}

.water {
  width: min-content;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background: #e29f72;
  border-radius: 16px;
  padding: 8px 12px;
}

.photoDiv > p {
  width: min-content;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background: #e29f72;
  border-radius: 16px;
  padding: 8px 12px;
}

.amount {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}

.amount > h3 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #3a1700;
}

.amount > p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: right;
  color: rgba(58, 23, 0, 0.5);
}

.completeLine {
  margin-top: 20px;
  width: 100%;
  height: 8px;
  background: #e6e4d6;
  border-radius: 4px;
}

.firstItem > .lowerItemContent > .completeLine > .completed {
  width: 46%;
  height: 100%;
  background: #2fb0ab;
  border-radius: 4px;
}

.lowerItemContent > button {
  margin-top: 40px;
}

.secondItem > .lowerItemContent > .completeLine > .completed {
  width: 75%;
  height: 100%;
  background: #2fb0ab;
  border-radius: 4px;
}

.thirdItem > .lowerItemContent > .completeLine > .completed {
  width: 55%;
  height: 100%;
  background: #2fb0ab;
  border-radius: 4px;
}

.explore {
  width: 170px;
  padding: 15px 35px;
  border: 1px solid rgba(126, 138, 184, 0.304942);
  border-radius: 24px;
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #7e8ab8;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 50px;
}

.explore:hover {
  background-color: #7e8ab8;
  color: #ffffff;
}

.donation:hover {
  background-color: #ffffff;
  color: #7e8ab8;
}

/* Fourth Page! */

.pageFour {
  width: 100vw;
  background-color: #f3f2e7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fourthPageContainer {
  margin-top: 150px;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.fourthPC_content {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 60%;
  justify-content: space-between;
  margin-top: 110px;
}

.fourthPC_content > h1 {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2px;
  color: #3a1700;
  width: 67%;
}

.fourthPC_content > h4 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #3a1700;
}

.about {
  width: 170px;
  background-color: transparent;
  border: 1px solid rgba(126, 138, 184, 0.304942);
  border-radius: 24px;
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #7e8ab8;
  padding: 15px 48px;
  transition: 0.5s;
  cursor: pointer;
}

.about:hover {
  background-color: #7e8ab8;
  color: #ffffff;
}

.fourthPMC {
  margin-top: 136px;
  width: 80%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fourthPMC > h2 {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a1700;
  width: 44%;
}

.fourthPMC_lower {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 42px;
}

.fourthPMC_lower > div {
  width: 28%;
  height: 145px;
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  padding-left: 30px;
  align-items: center;
  gap: 24px;
}

.fourthPMC_lower > div > h1 {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2px;
  color: #3a1700;
}

.lower_columnDiv {
  display: flex;
  flex-direction: column;
}

.lower_columnDiv > h4 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #3a1700;
}

.lower_columnDiv > p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(58, 23, 0, 0.5);
}

/* Fifth Page! */

.pageFive {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: #f3f2e7;
  padding-bottom: 176px;
}

.fifthPageContainer {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 156px;
}

.fifthPageContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33%;
  height: 53%;
}

.fifthPageContent > h1 {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2px;
  color: #3a1700;
}

.fifthPageContent > h3 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #3a1700;
}

.volunteer {
  border: 1px solid rgba(126, 138, 184, 0.304942);
  border-radius: 24px;
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #7e8ab8;
  padding: 15px 38px;
  background-color: transparent;
  width: 200px;
  transition: 0.5s;
  cursor: pointer;
}

.volunteer:hover {
  background-color: #7e8ab8;
  color: #ffffff;
}

/* Sixth Page! */

.pageSix {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 140px;
}

.pageSixContainer {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 138px;
}

.pageSixContainer > h1 {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2px;
  color: #3a1700;
}

.pageSC_items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60%;
  margin-top: 50px;
}

.pageSC_items > div {
  width: 32%;
  height: 416px;
  background: #f3f2e7;
  border-radius: 12px;
  padding: 40px 48px;
  transition: 0.5s;
}

.pageSC_items > div:hover {
  transform: translateY(-10px);
  box-shadow: 5px 10px 10px rgba(58, 23, 0, 0.5);
}

.pageSC_items > div > .pageSFI_header {
  display: flex;
  align-items: center;
  gap: 40px;
}

.pageSC_items img {
  padding-bottom: 22px;
  border-bottom: 3px solid black;
}

.pageSC_items h2 {
  padding-bottom: 22px;
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #3a1700;
}

.pageSC_items p {
  margin-top: 40px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(58, 23, 0, 0.5);
}

.pageSC_items button {
  margin-top: 40px;
  width: 170px;
}

/* Seventh Page! */

.pageSeven {
  width: 100vw;
  height: 130vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageSeven > h1 {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -2px;
  color: #3a1700;
}

.videoDiv {
  height: 65%;
  width: 100%;
  margin-top: 70px;
  display: flex;
}

.video1 {
  position: relative;
  top: 60px;
  left: -10px;
  width: 16%;
  height: 30%;
  background: #d8d8d8;
  border-radius: 12px;
}

.video2 {
  position: relative;
  top: 330px;
  left: -70px;
  width: 20%;
  height: 34%;
  background: #d8d8d8;
  border-radius: 12px;
}

.video3 {
  width: 34%;
  height: 48.5%;
  background: transparent;
  border-radius: 12px;
}

.video3 > video {
  border-radius: 12px;
}

.video4 {
  position: relative;
  left: 30px;
  top: 140px;
  width: 10%;
  height: 19%;
  background: #d8d8d8;
  border-radius: 12px;
}

.video5 {
  position: relative;
  top: 330px;
  left: 70px;
  width: 16%;
  height: 30%;
  background: #d8d8d8;
  border-radius: 12px;
}

/* Eighth Page! */

.pageEight {
  width: 100vw;
  background: url(./images/block.png) center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 90px 0 66px 0;
}

.pageEightContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageEC_text > h1 {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2px;
  color: #ffffff;
}

.pageEC_text > p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.502972);
  width: 76%;
}

.pageEC_buttons {
  display: flex;
  gap: 30px;
}

.pageEC_buttons > .donation {
  background-color: #ffb200;
}

.pageEC_buttons > .donation:hover {
  background: #ffffff;
  color: #ffb200;
}

.pageEC_buttons > .contact {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.295743);
  border-radius: 24px;
}

.pageEC_buttons > .contact:hover {
  background: rgba(255, 255, 255, 0.295743);
}

/* Ninth Page! */

.pageNine {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageNineContainer {
  width: 80%;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageNineContainer > .explore {
  margin-top: 50px;
}

.pageNineContainer > .goldText {
  text-align: center;
}

.pageNineContainer > h1 {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -2px;
  color: #3a1700;
  margin-top: 15px;
}

.pageNineItems {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 70px;
}

.pageNineItems > div {
  width: 100%;
  background: #f3f2e7;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageNineItems > div > .pageNineItems_main {
  width: 33%;
  height: 210px;
  border-radius: 12px 0px 0px 12px;
  background: #d8d8d8;
  padding: 30px 22px;
}

.pageNI_content {
  width: 63%;
  display: flex;
  flex-direction: column;
}

.pageNI_content > h1 {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #3a1700;
  width: 64%;
  border-bottom: 1px solid #deddcd;
  padding-bottom: 25px;
}

.pageNIC_lower {
  width: 95%;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.pageNIC_lower > .explore {
  margin-top: 0;
}

.pageNICL_left > h4 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #3a1700;
}

.pageNICL_left > h4 > span {
  border-top: 3px solid #333333;
  padding-top: 30px;
}

.pageNIC_lower > .explore {
  width: 140px;
  height: 50px;
  background: #7e8ab8;
  border-radius: 24px;
  border: none;
  color: white;
}

.pageNIC_lower > .explore:hover {
  background-color: white;
  color: #7e8ab8;
}

/* Tenth Page! */

.pageTen {
  width: 100vw;
  background: #f3f2e7;
  margin-top: 116px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageTenContainer {
  width: 80%;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.pageTC_header {
  display: flex;
  flex-direction: column;
}

.pageTC_header > h1 {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2px;
  color: #3a1700;
}

.pageTenItems {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.pageTenItems > div {
  width: 22%;
  height: 370px;
  background: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageTenItems > div > .pageTenItem {
  width: 100%;
  height: 55%;
  border-radius: 12px 12px 0 0;
  background-color: #2fb0ab;
}

/* #giorgi {
  background: url(./images/giorgi.jpg) center;
  background-size: cover;
}

#nika {
  background: url(./images/nika.png) center;
  background-size: cover;
}

#valeri {
  background: url(./images/valeri.png) center;
  background-size: cover;
}

#dead {
  background: url(./images/death.jpg) center;
  background-size: cover;
} */

.pageTI_lower {
  width: 80%;
  height: 44%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pageTI_lower > h2 {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #3a1700;
}

.pageTI_lower > p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(58, 23, 0, 0.5);
}

.line {
  display: flex;
}

.line > .smallLine {
  width: 64px;
  height: 3px;
  background: #333333;
}

/* Eleventh Page! */

.pageEleven {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f3f2e7;
}

.pageElevenContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
  padding-bottom: 94px;
}

.pageElevenContainer > h1 {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -2px;
  color: #3a1700;
}

.pageElevenBox {
  width: 65%;
  height: 60%;
  background: #ffffff;
  border-radius: 12px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.shape {
  position: relative;
  top: -24px;
}

.pageEB_text {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.pageEB_text > h2 {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a1700;
  width: 90%;
}

.pageEB_lower {
  width: 80%;
  margin-top: 38px;
  display: flex;
  flex-direction: column;
}

.pageEB_lower > .line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageEB_lower > .line > .smallLine {
  width: 64px;
  height: 3px;
  background-color: #333333;
}

.circles {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.circles > .smallCircle {
  width: 40px;
  height: 40px;
  background-color: #f3f2e781;
  border-radius: 50%;
}

.bigCircle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #d8d8d8;
}

.pageEB_lower > h3 {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a1700;
  margin-top: 8px;
}

.pageElevenButtons {
  display: flex;
  gap: 8px;
  margin-top: 32px;
}

.pageElevenButtons > button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid rgba(126, 138, 184, 0.304942);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.companies {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin-top: 130px;
}

/* Twelvth Page! */

.pageTwelve {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.pageTwelve > .explore {
  margin-top: 64px;
}

.pageTwelveContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 140px;
}

.pageTwelveContainer > h1 {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2px;
  color: #3a1700;
}

.pageTwelveItems {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.pageTwelveItems > div {
  width: 31%;
  height: 464px;
  background-color: #f3f2e7;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageTI_photo {
  width: 100%;
  height: 50%;
  border-radius: 12px 12px 0 0;
  background: #bfbfbf;
  padding: 27px 24px;
}

.pageTI_lower {
  margin-top: 40px;
}

.pageTwelveLowItem {
  width: 100%;
  height: 160px;
  background: #f3f2e7;
  border-radius: 12px;
  margin-top: 32px;
  display: flex;
  align-items: center;
  padding: 0 48px 0 48px;
  justify-content: space-between;
}

.pageTLI_text > h2 {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  color: #3a1700;
}

.pageTLI_text > p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(58, 23, 0, 0.5);
}

.pageT_buttons {
  display: flex;
  gap: 16px;
  align-items: center;
}

.pageT_buttons > input {
  width: 270px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #dadada;
  border-radius: 24px;
  padding: 9px 24px;
}

.pageEC_buttons > .donation {
  width: 170px;
}

/* Thirteenth Page! */

.pageThirteen {
  width: 100vw;
  background: url(./images/lastBcg.png) center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 72px;
}

.pageThirteenContainer {
  width: 80%;
  display: flex;
  align-items: center;
  margin-top: 50px;
  justify-content: space-between;
}

.pageTC_text {
  width: 38%;
}

.pageTC_text > h1 {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2px;
  color: #3a1700;
  margin-top: 18px;
}

.pageTC_text > .lowText {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(58, 23, 0, 0.5);
  margin-top: 30px;
}

.pageTC_text > .explore {
  width: 200px;
}

/* Fourteenth Page! */

.pageFourteen {
  width: 100vw;
  display: flex;
}

.pageFourteen > div {
  width: 34%;
  height: 192px;
  display: flex;
  align-items: center;
  padding-left: 48px;
  gap: 32px;
}

.phone {
  background: #eae9da;
}

.icon {
  width: 96px;
  height: 96px;
}

.pageF_content > p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(58, 23, 0, 0.5);
}
.pageF_content > h4 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #3a1700;
}

.mail {
  background: #e3e1cb;
}

.address {
  background: #cbc8ad;
}

/* Fifteenth Page! */

.pageFifteen {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #d58e5e;
  padding-bottom: 54px;
}

.pageFifteenContainer {
  width: 80%;
  display: flex;
  margin-top: 76px;
  border-bottom: 1px solid #ffffffa1;
  padding-bottom: 70px;
}

.pageFC_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pageFC_content > h1 {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  color: #ffffff;
}

.middleLeft > p,
.middleRight > p {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

.middleLeft > ul,
.middleRight > ul {
  margin-top: 16px;
}

.middleLeft > ul > li > a,
.middleRight > ul > li > a {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}

.social {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 46px;
}

.pageFifteenLower {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.pageFifteenLower > p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.502972);
}

.privacy {
  display: flex;
  gap: 72px;
}

.privacy > p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: right;
  color: #ffffff;
}
