* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  width: 100vw;
  height: 100vh;
  background: url(./images/weatherbcg.png) center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: -80px;
  height: 80px;
  width: 100%;
  padding: 0 80px;
  background: rgba(255, 255, 255, 0.19);
  z-index: 1;
  animation: headerAnim 0.5s ease-in-out forwards;
  animation-delay: 0.6s;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

a,
h2,
label {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.items {
  width: 60vw;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.item {
  width: 45%;
  height: 60vh;
  background-color: rgb(0, 0, 0, 0.2);
  backdrop-filter: blur(16px);
  border-radius: 48px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.one {
  animation: itemOneAnim 1s ease-in-out;
}
.two {
  animation: itemTwoAnim 1s ease-in-out;
}

@keyframes itemOneAnim {
  from {
    top: 600px;
  }
  to {
    top: 0;
  }
}
@keyframes itemTwoAnim {
  from {
    top: -600px;
  }
  to {
    top: 0;
  }
}
@keyframes headerAnim {
  from {
    top: -80px;
  }
  to {
    top: 0;
  }
}

@keyframes sun {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.itemUpper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

.sun {
  position: relative;
  left: -20px;
  animation: sun 1s infinite alternate-reverse;
}

p {
  font-family: "Poppins";
  font-style: normal;
  color: #ffffff;
}

h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 130px;
  color: #ffffff;
  display: flex;
}

h1::after {
  content: "°C";
  font-size: 24px;
  position: relative;
  top: 44px;
}

#desc {
  position: relative;
  top: -24px;
}

.itemLower {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  gap: 26px;
}

.detail {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detailWrapper {
  display: flex;
  justify-content: space-between;
  width: 140px;
}

.detailTitle {
  display: flex;
  gap: 6px;
}

.line {
  height: 19px;
  width: 1px;
  background-color: white;
}

.addButt {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: none;
  background: rgba(255, 255, 255, 0.26);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.madeWith {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-top: 70px;
  opacity: 0;
  animation: opacity 1s ease-in-out 1s forwards;
}
.addBoxUpper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 40px;
  transition: 0.5s all;
}

.addBoxUpper.active {
  top: 0;
}

.fa-plus {
  color: white;
  font-size: 40px;
}
.addDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.addDiv:focus {
  outline: none;
}

#input {
  visibility: hidden;
  width: 0%;
  opacity: 0;
  height: 50px;
  border: none;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.26);
  padding-left: 12px;
  color: white;
  position: relative;
  top: 20px;
  transition: all 0.5s;
}

#input.active {
  width: 100%;
  opacity: 1;
  visibility: visible;
}

.fa-magnifying-glass {
  font: 24px;
  color: white;
}

#iconDiv {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -19px;
  left: 120px;
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 50%;
  border: none;
  opacity: 0;
}

#iconDiv.active {
  transition: all 0.5s;
  transition-delay: 0.3s;
  opacity: 1;
}

#input:focus {
  outline: none;
}

@media only screen and (max-width: 1406px) {
  body {
    overflow: auto;
  }
  .item {
    width: 380px;
    height: 430px;
  }
  #iconDiv {
    left: 110px;
  }
  #dataTemp {
    font-size: 120px;
    letter-spacing: -2px;
  }
  .one {
    animation: none;
  }
  .two {
    animation: none;
  }
}
@media only screen and (max-width: 1282px) {
  .item {
    width: 360px;
    height: 430px;
  }
  #iconDiv {
    left: 100px;
  }
}

@media only screen and (max-width: 1222px) {
  body {
    height: auto;
    padding-bottom: 100px;
  }

  .items {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .item {
    width: 380px;
    height: 430px;
  }
  #iconDiv {
    left: 110px;
  }
}

@media only screen and (max-width: 700px) {
  .logoDN {
    display: none;
  }
}

@media only screen and (max-width: 475px) {
  .item {
    width: 360px;
  }
  header {
    padding: 0 40px;
  }
  #iconDiv {
    left: 100px;
  }
}

@media only screen and (max-width: 400px) {
  .item {
    width: 340px;
  }

  #dataTemp {
    font-size: 120px;
    letter-spacing: -2px;
  }
  #iconDiv {
    left: 94px;
  }
}
